@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

$primary-font: 'Open Sans', sans-serif;

.cui {
  font-family: $primary-font;
  font-size: 14px;
}

@import 'styles/Sequence', 'styles/TextInput', 'styles/Panel', 'styles/Choice';
