.cui-choices {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: right;
}

.cui-choice {
  line-height: 30px;
  display: inline-block;
  color: white;
  border-radius: 6px;
  padding: 12px 24px;
  cursor: pointer;
  background: #00AEFF;
}
.cui-choice + .cui-choice {
  margin-left: 10px;
}