.cui-text-input {
  padding-top: 1em;
  input {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #8ca2c0;
    line-height: 30px;
    outline: none;
    padding: 12px 24px;
    box-sizing: border-box;
  }
}
