.cui-text-input {
  padding-top: 1em;
  text-align: right;
  input {
    font-family: $primary-font;
    font-size: 1em;
    width: 50%;
    border: 0px solid white;
    border-bottom: 1px solid white;
    line-height: 30px;
    outline: none;
    padding: 12px 24px;
    box-sizing: border-box;
    color: white;
    background: rgba(255, 255, 255, 0);
  }
}