html,
body {
  margin: 0;
  height: 100%;
}

body {
  background: linear-gradient(145deg, #53ddec, #463d9d);
}

.cui {
  border-radius: 6px;
  max-width: 700px;
  font-weight: 300;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

#root {
  height: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
  padding: 0 30px 30px 30px;
  box-sizing: border-box;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.cui-text-input input {
  font-weight: 300;
}

.cui-panel {
  max-height: inherit;
}

@media (min-width: 700px) {
  .wrapper {
    padding-bottom: 0;
  }
  .cui {
    height: 80vh;
  }
}

.cui-message {
    p {
      margin: 0;
    }
  }