html,
body {
  margin: 0;
  height: 100%;
}

body {
  background: linear-gradient(145deg, #53ddec, #463d9d);
}

.cui {
  border-radius: 6px;
  max-width: 700px;
  font-weight: 300;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  overflow: scroll;

  & > * {
    transition: all 500ms ease-in-out;
  }
}

#root {
  height: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
  padding: 0 30px 30px 30px;
  box-sizing: border-box;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.cui-text-input input {
  font-weight: 300;
}

.cui-panel {
  max-height: inherit;
}

@media (min-width: 700px) {
  .wrapper {
    padding-bottom: 0;
  }
  .cui {
    height: 100vh;
  }
}

.cui-message {
    p {
      margin: 0;
    }
  }

.movie-finder-wrapper {
  overflow: hidden;
  flex-basis: 60vh;
  flex-grow: 1;
  flex-shrink: 0;
}

.movie-finder-wrapper {
  .movie-finder__chatbox {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 20px 0
  }
  .movie-finder__toggle {
    margin: 0;
  }
  .ais-InstantSearch__root {
    height: 100%;
    display: flex;
    flex-direction: column;
    .cui-text-input {
      flex-grow: 1;
      padding-top: 0em;
    }
  }
  .ais-Hits__root {
    overflow: scroll;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.finder-item {
  margin-bottom: 20px;
  img {
    border-radius: 6px;
  }
}

.push {
  height: 20vh;
  flex-basis: 25vh;
  flex-grow: 0;
  flex-shrink: 0;
}